In [1]:
import pandas as pd

In [2]:
! pip install google-cloud
! pip install google-cloud-bigquery[pandas]
! pip install google-cloud-storage

Requirement already satisfied: google-cloud in /opt/conda/lib/python3.7/site-packages (0.34.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: google-cloud-bigquery[pandas] in /opt/conda/lib/python3.7/site-packages (3.11.0)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (1.51.3)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (1.34.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (1.22.2)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (2.3.2)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (2.5.0)
Requirement already satisfied: packaging>=20.0.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (23.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (3.20.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (2.31.0)
Requirement already satisfied: pandas>=1.1.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (1.3.5)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (12.0.0)
Requirement already satisfied: db-dtypes<2.0.0dev,>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery[pandas]) (1.1.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.7/site-packages (from db-dtypes<2.0.0dev,>=0.3.0->google-cloud-bigquery[pandas]) (1.21.6)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/conda/lib/python3.7/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (1.59.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /opt/conda/lib/python3.7/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (2.19.1)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /opt/conda/lib/python3.7/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (1.48.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.7/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery[pandas]) (1.5.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=1.1.0->google-cloud-bigquery[pandas]) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery[pandas]) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery[pandas]) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery[pandas]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery[pandas]) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery[pandas]) (2023.5.7)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (4.9)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery[pandas]) (0.5.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: google-cloud-storage in /opt/conda/lib/python3.7/site-packages (2.9.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage) (2.19.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage) (1.34.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage) (2.3.2)
Requirement already satisfied: google-resumable-media>=2.3.2 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage) (2.5.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage) (2.31.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (1.59.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<4.0.0dev,>=3.19.5 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (3.20.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (4.9)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (1.26.16)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.7/site-packages (from google-resumable-media>=2.3.2->google-cloud-storage) (1.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2023.5.7)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.5.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
%load_ext google.cloud.bigquery

In [4]:
%%bigquery scores
select * from meetfresh.ft_customer_ingredient_ratings

Query is running:   0%|          |

Downloading:   0%|          |

In [5]:
scores.head()

  customer_id ingredient_id ingredient_name meetfresh_rating
0       49237           B15    Tofu Pudding              1.0
1      172644           B15    Tofu Pudding              1.0
2       39930           B15    Tofu Pudding              1.0
3      207442           B15    Tofu Pudding              1.0
4       78835           B15    Tofu Pudding              1.0

In [6]:
scores[['ingredient_id', 'ingredient_name', 'meetfresh_rating']].describe()

       ingredient_id ingredient_name meetfresh_rating
count         500030          500030           500030
unique            23              23                4
top            TP108      Taro Balls              2.0
freq           85653           85653           217746

In [7]:
scores['meetfresh_rating'].unique()

array(['1.0', '2.0', '3.0', 'meetfresh_rating'], dtype=object)

In [8]:
scores[scores['meetfresh_rating'] == 'meetfresh_rating']

        customer_id  ingredient_id  ingredient_name  meetfresh_rating
500029  customer_id  ingredient_id  ingredient_name  meetfresh_rating

In [9]:
scores.tail()

        customer_id  ingredient_id  ingredient_name  meetfresh_rating
500025        12651        UNK1002    Almond Flakes               3.0
500026        38856        UNK1002    Almond Flakes               3.0
500027       226170        UNK1002    Almond Flakes               3.0
500028        70724        UNK1002    Almond Flakes               3.0
500029  customer_id  ingredient_id  ingredient_name  meetfresh_rating

In [10]:
scores = scores.iloc[:len(scores)-1, :]

In [11]:
len(scores['customer_id'].unique())

155594

In [23]:
scores = scores.astype({"meetfresh_rating": float, "customer_id": int})

In [47]:
temp = scores[['customer_id', 'ingredient_id']].groupby('customer_id').count()

In [48]:
temp[temp['ingredient_id']>22]

             ingredient_id
customer_id
741                     29
1846                    25
2531                    28
2547                    31
3140                    25
...                    ...
267772                  29
268239                  25
268356                  23
270123                  29
270887                  27

[417 rows x 1 columns]

In [46]:
scores[scores['customer_id'] == 270887]

        customer_id ingredient_id          ingredient_name  meetfresh_rating
28415        270887         TP011                     Boba               1.0
112454       270887         TP012  Mini Q (Mini Taro Ball)               3.0
150210       270887         TP013                Red Beans               3.0
151899       270887         TP013                Red Beans               3.0
153074       270887         TP013                Red Beans               3.0
210361       270887         TP015              Grass Jelly               3.0
233309       270887         TP016                  Peanuts               1.0
240194       270887         TP016                  Peanuts               3.0
240366       270887         TP016                  Peanuts               3.0
241020       270887         TP016                  Peanuts               3.0
287973       270887         TP101                Ice Cream               3.0
292102       270887         TP101                Ice Cream               3.0
292834       270887         TP102                     Taro               1.0
317309       270887         TP102                     Taro               3.0
323076       270887         TP103             Potaro Balls               1.0
337230       270887         TP103             Potaro Balls               3.0
346488       270887         TP106          Caramel Pudding               2.0
348299       270887         TP106          Caramel Pudding               3.0
363534       270887         TP107        Sesame Rice Balls               3.0
449101       270887         TP108               Taro Balls               3.0
469278       270887         TP110               Taro Paste               1.0
485377       270887         TP110               Taro Paste               3.0
489413       270887         TP110               Taro Paste               3.0
496312       270887         TP116               Coco Mochi               3.0
497613       270887         TP117                     Sago               2.0
499825       270887       UNK1002            Almond Flakes               3.0
499992       270887       UNK1002            Almond Flakes               3.0

In [13]:
scores[['ingredient_name', 'meetfresh_rating']].groupby('ingredient_name').mean().sort_values("meetfresh_rating")

                         meetfresh_rating
ingredient_name
Coco Mochi                       1.589320
Almond Flakes                    1.644866
Sago                             1.652605
Q Mochi                          1.659941
Lychee Jelly                     1.671277
Black Sugar Boba                 1.690247
Peanuts                          1.691534
Caramel Pudding                  1.698761
Tofu Pudding                     1.717668
Rice Balls                       1.722827
Almond Pudding                   1.724896
Sesame Rice Balls                1.728547
Ice Cream                        1.744575
Taro                             1.748095
Melon Jelly                      1.748106
Potaro Balls                     1.756648
Taro Paste                       1.765799
Mini Q (Mini Taro Ball)          1.779609
Red Beans                        1.854025
Boba                             1.960425
Grass Jelly                      2.132030
Taro Balls                       2.198382

In [24]:
matrix = pd.DataFrame(columns=scores['ingredient_name'].unique(), index=scores['customer_id'].unique())

In [28]:
for index, row in scores.iterrows():
    matrix.loc[row['customer_id'],row['ingredient_name']] = row['meetfresh_rating']
# ~ 1min

In [35]:
matrix.head()

,Tofu Pudding,Rice Balls,Boba,Mini Q (Mini Taro Ball),Red Beans,Grass Jelly,Peanuts,Black Sugar Boba,Melon Jelly,Lychee Jelly,...,Potaro Balls,Caramel Pudding,Sesame Rice Balls,Taro Balls,Almond Pudding,Taro Paste,Q Mochi,Coco Mochi,Sago,Almond Flakes
49237,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN
172644,1.0,NaN,3.0,3.0,2.0,3.0,3.0,NaN,NaN,2.0,...,2.0,NaN,3.0,1.0,2.0,2.0,NaN,NaN,3.0,NaN
39930,1.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,1.0,3.0,NaN,NaN,NaN
207442,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
78835,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
from google.cloud import storage
import os
import pandas as pd

client = storage.Client()
bucket = client.get_bucket('meet-fresh-recommendation-system-data')

bucket.blob('meetfresh_customer_item_rating_matrix.csv').upload_from_string(matrix.to_csv(index=True), 'text/csv')